<h1>Demo für Custom PDF-Highlighting mit PDF.js</h1>
<button (click)="setDefaultAnnotations()">Default Annotations</button>
<button (click)="setOcrAnnotations()">OCR Annotations</button>
<button (click)="setAllAnnotations()">All Annotations</button>
<button (click)="setNoAnnotations()">No Annotations</button>
<iframe *ngIf="pdfJsSrc" #pdf [src]="pdfJsSrc" width="100%" height="100%"></iframe>